# IDE / Editor
.idea/
*.iml
*.ipr
*.iws
.vscode/
.navigation/
captures/
.externalNativeBuild
.cxx/

# Gradle / Build
.gradle/
build/
bin/
gen/
out/
app/build/

# Local Configuration
local.properties

# Keystore / Signing (Keep these private!)
*.jks
*.keystore
*.p12

# OS Specific
.DS_Store
Thumbs.db

# Log Files
*.log

# Android Profiling
*.hprof

# Capacitor Specific
capacitor-cordova-android-plugins
app/src/main/assets/public
app/src/main/assets/capacitor.config.json
app/src/main/assets/capacitor.plugins.json
app/src/main/res/xml/config.xml

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
